bin/Debug/MyDemoSP.dll.mdb
bin/Debug/MyDemoSP.MyDemoSP.apk
bin/Debug/MyDemoSP.MyDemoSP-Signed.apk
bin/Debug/Refractored.Controls.CircleImageView.xml
bin/Release/MyDemoSP.MyDemoSP.apk.mSYM/4e11ade207da44d78496232bfcd31f52/MyDemoSP.dll.mdb
bin/Release/MyDemoSP.MyDemoSP.apk.mSYM/manifest.xml
bin/Release/MyDemoSP.dll.mdb
bin/Release/MyDemoSP.MyDemoSP.apk
bin/Release/MyDemoSP.MyDemoSP-Signed.apk
bin/Release/Refractored.Controls.CircleImageView.xml
